
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/fonts/Exo2-Light.ttf') format('ttf');
  }
  @font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/Exo2-Medium.ttf') format('ttf');
  }
  @font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/Exo2-Bold.ttf') format('ttf');
  }
  @font-face {
    font-family: '"Exo 2"';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('/fonts/Exo2-Black.ttf') format('ttf');
  }
}